<!DOCTYPE html>
<html>

<head>
    <title>Update Blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'static/css/style_update.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'static/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'static/bootstrap/css/bootstrap.css.min' %}">
</head>

<body>
    <nav class=" navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="brand navbar-brand" href="http://127.0.0.1:8000/">
                DohaHouse
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar1 navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="home nav-link active" aria-current="page" href="#">Trang chủ</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Blog</a>

                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="http://127.0.0.1:8000/read">Đọc bài</a>
                                </li>
                                <li><a class="dropdown-item" href="http://127.0.0.1:8000/create">Đăng bài</a></li>
                                <li><a class="dropdown-item" href="http://127.0.0.1:8000/update">Sửa bài</a></li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Về chúng tôi</a>
                        </li>
                        </li>
                    </ul>
                    <a class="btn-Buy btn fw-500 ms-lg-4 btn-primary"
                        href="https://www.facebook.com/profile.php?id=100088856981074">
                        BigHeart
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-arrow-right ms-2">
                            <line x1="" y1="12" x2="19" y2="12"></line>
                            <polyline points="12 5 19 12 12 19"></polyline>
                        </svg>
                    </a>
                </div>
        </div>
    </nav>
    <div class="container">
        <h2>Update Blog</h2>
        <form method="POST">
            <div class="form-group">
                <label for="blogID">Blog ID:</label>
                <input type="text" class="form-control" id="id" name="id" required>
            </div>
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" class="form-control" id="title" name="title">
            </div>
            <div class="form-group">
                <label for="content">Content:</label>
                <textarea class="form-control" id="content" name="content"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>


        </form>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>