<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <title>Hello world</title>
    <link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="stylesheet" href="../public/css/form.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                DohaHouse
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Trang chủ</a>
                        </li>
                        <li class="nav-item dropdown dropdown-xl no-caret">
                            <a class="nav-link active dropdown-toggle" id="navbarDropdownPages" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Sản phẩm
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Về chúng tôi</a>
                        </li>
                        </li>
                    </ul>
                    <a class="btn-Buy btn fw-500 ms-lg-4 btn-primary"
                        href="https://www.facebook.com/profile.php?id=100088856981074">
                        BigHeart
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-arrow-right ms-2">
                            <line x1="" y1="12" x2="19" y2="12"></line>
                            <polyline points="12 5 19 12 12 19"></polyline>
                        </svg>
                    </a>
                </div>
        </div>
    </nav>
    <header class="page-header-ui page-header-ui-light bg-white">
        <div class="page-header-ui-content">
            <div class="container px-5">
                <div class="rox gx-5 justify-content-center">
                    <div class="logo col-xl-8 col-lg-10 text-center">
                        <img class="mb-4" src="/public/images/logo.jpg" style="width:15rem">
                        <h1 class="page-header-ui-title">Welcome to DohaHouse!</h1>
                        <p class="" page-header-ui-text>DohaHouse là một công ty trực thuộc tập đoàn Tiếng Nhật Chuyên
                            nghiệp với CEO Mr DoDo</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="target">
        <h2>Định hướng chúng tôi</h2>
    </div>
    <section class="bg1 bg-light py-10">
        <div class="container px-5">
            <div class="row gx-5 text-center">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="target-1">
                        <h3>Gia đình</h3>
                        <p>DohaHouse là một gia đình, không ai bị bỏ rơi và cũng không ai bị bỏ lại</p>
                    </div>
                </div>
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="target-1">
                        <h3>Kiến thức</h3>
                        <p>DohaHouse hướng tới mục tiêu giúp thành viên hiểu và hoàn thành môn Học theo Dự án khoa học
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="target-1">
                        <h3>4.0 GPA</h3>
                        <p>DohaHouse đảm bảo các thành viên đều đạt 4.0 GPA cuối khóa
                        </p>
                    </div>
                </div>
            </div>
            <div class="svg-border-rounded text-white">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none"
                    fill="currentColor">
                    <path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path>
                </svg>
            </div>
    </section>
    <div class="member">
        <h2>Các thành viên</h2>
    </div>
    <section class="bg2 bg-light py-10">
        <div class="container px-5">
            <div class="row gx-5">
                <div class="col-md-4">
                    <a class="card card-portfolio mb-5" href="https://www.facebook.com/dotrunghieuxk">
                        <img class="card-img-top" src="/public/images/dodo.jpg" alt="...">
                        <div class="card-body">
                            <div>CEO Đỗ Trung Hiếu</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="line"></div>
    </section>
    <section class="bg3 bg-light py-10">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="contact">Liên hệ với chúng tôi</h2>
                    <p class="mb-5">DoDo luôn sẵn sàng và lắng nghe những lời bạn nói</p>
                    <div class="row gx-5">
                        <div class="col">
                            <div class="card1 card">
                                <div class="card1 card-body">
                                    <div class="small1">Anh Kiêm - 0366408***</div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card1 card">
                                <div class="card1 card-body">
                                    <div class="small">545 P. Kim Mã, Ngọc Khánh, Ba Đình, Hà Nội</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="svg-border-rounded text-dark">
            <!-- Rounded SVG Border-->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none"
                fill="currentColor">
                <path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path>
            </svg>
        </div>
    </section>

    <script type="text/javascript" src="../bootstrap/js/bootstrap.js">
    </script>


</body>

</html>